@import './fonts.css';
@import './variables.css';
@import './reset.css';

body {
  font-family: var(--font-base);
  background: var(--color-bg);
  color: var(--color-black);
}

h1 {
  font-weight: 600;
  font-size: var(--fs-xl);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: var(--fs-lg);
}

p {
  font-size: var(--fs-md);
}
