:root {
  --color-orange: #ff8346;
  --color-blue: #3838e7;
  --color-gray: #5e5d67;
  --color-white: #ffffff;
  --color-black: #1b1b23;

  --font-base: 'Roboto', system-ui, sans-serif;

  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 20px;
  --fs-xl: 28px;

  --lh-base: 1.5;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

[data-theme='light'] {
  --color-bg: #f9f9fb;
  --color-text: var(--color-black);
  --color-surface: #ffffff;
  --color-border: #e0e0e0;
}

[data-theme='dark'] {
  --color-bg: #000027;
  --color-text: #f9f9fb;
  --color-surface: #2a2a32;
  --color-border: #3a3a42;
}
